.container {
  margin-top: 80px;
}

#logo {
  display: flex;
  height: 80px;
  margin: 0 auto;
}

div.login {
  margin: 80px auto;
  max-width: 410px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(78, 212, 230, 0.493);
  margin-top: 20px;
  border-radius: 4px;
  padding: 0 40px;
}

div.login > p {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 30px;
}

div.login > form {
  margin-top: 45px;
  width: 330px;
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
}

div.login form label {
  font-size: 14px;
  color: #444;
  font-weight: bold;
  margin-bottom: 8px;
}

div.login form label {
  font-weight: normal;
  color: #999;
  font-size: 12px;
}

div.login form input.login {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 35px;
  padding: 0 15px;
  font-size: 16px;
}

div.login button.btn1 {
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 32px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #007189;
  color: #FFF;
  cursor: pointer;
}

div.login button.btn1:hover {
  background: #2393ac;
}

div.login label.form-title {
  margin-bottom: 24px;
  color: #FFF;  
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

div.login label.ckbox {
  color: #FFF;
  font-weight: 300;
  font-size: 14px;
}

.loginRodape {
  margin-top: 10px;
  border: 1px solid #3b6184;
  width: 410px;
  height: 25px;
  text-align: center;
  background-color: #3a5e7f;
  margin-left: -40px;
}

.loginRodape a {
  color: #bbb;
  font-size: .9em;
  text-decoration: none;
  padding: 0%;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.btnRLogin {
  margin-top: 0px;
  border: 0;
  border-radius: 2px;
  width: 40%;
  height: 20px;
  padding: 0 20px;
  font-size: 12px;
  background: rgba(58, 94, 127, 0);
  background-color: rgba(58, 94, 127, 0);
  color: #CCC;
  cursor: pointer;
}

.btnRLogin:hover {
  color: #2393ac;
  background: rgba(58, 94, 127, 0);
  background-color: rgba(58, 94, 127, 0);
}
